/* Устанавливаем цвет фона для всего тела страницы */
body {
    background-color: #f8f9fa;
    /* Светло-серый цвет фона */
}

/* Настройки для таблицы */
table {
/*    margin-top: 20px;
    /* Отступ сверху от элемента до таблицы */
    width: 100%;
    /* Задаем ширину таблицы на 100% от родительского контейнера */
    min-width: 600px;
    /* Устанавливаем минимальную ширину таблицы 600px */
}

/* Стили для строк таблицы с классом service-row */
.table .service-row {
    background-color: #ffffff;
    /* Цвет фона строки по умолчанию - белый */
}

/* Добавляем стили для формы добавления нового сервиса */
.form-group-neverov {
    max-width: 25%;         /* Убираем ограничение по ширине */
    padding: 20px;          /* Добавляем отступы внутри формы */
}

th {
    white-space: nowrap; /* Запрещает перенос текста */
    text-overflow: ellipsis; /* Добавляет многоточие, если текст не помещается */
    overflow: hidden; /* Скрывает переполняющий текст */
}