/* Устанавливаем цвет фона для всего тела страницы */
body {
    background-color: #f8f9fa;
    /* Светло-серый цвет фона */
}

.colored-row {
    background-color: #eaf7ff;
}

/* Настройки для таблицы */
table {
    margin-top: 20px;
    /* Отступ сверху от элемента до таблицы */
    width: 100%;
    /* Задаем ширину таблицы на 100% от родительского контейнера */
    min-width: 600px;
    /* Устанавливаем минимальную ширину таблицы 600px */
}

/* Стили для строк таблицы с классом service-row */
.table .service-row {
    background-color: #ffffff;
    /* Цвет фона строки по умолчанию - белый */
}

/* Настройки для заголовков h1 и h2 */
h1,
h2 {
    margin-top: 40px;
    /* Отступ сверху от элемента до заголовков */
}

/* Настройки для форм */
form {
    margin-bottom: 30px;
    /* Отступ снизу формы, чтобы отделить её от других элементов ниже */
}