/* Устанавливаем цвет фона для всего тела страницы */
body {
    background-color: #f8f9fa;
    /* Светло-серый цвет фона */
}

h1 {
    margin-top: 20px;
}

/* Настройки для таблицы */
table {
    width: 100%;
    min-width: 600px;
}

/* Фиксированные ширины для некоторых столбцов */
.fixed-width {
    width: 100px; /* Пример: вы можете настроить это значение */
    white-space: nowrap;
}

.stretch-width {
    width: auto;
}

/* Для колонки "Адрес" */
/*td:nth-child(6), th:nth-child(6) { */
/*    white-space: normal; */
/*} */

/* Стили для строк таблицы с классом service-row */
.table .service-row {
    background-color: #ffffff;
    /* Цвет фона строки по умолчанию - белый */
}

/* Добавляем стили для формы добавления нового сервиса */
.form-group-neverov {
    max-width: 100%;
    /* Убираем ограничение по ширине */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* Позволяет элементам переноситься на следующую строку, если не хватает места */
    gap: 15px;
    /* Расстояние между элементами */
}

.form-group-neverov .form-item {
    display: flex;
    flex-direction: column;
    /* Расположение метки и поля ввода вертикально */
    gap: 5px;
    /* Расстояние между меткой и полем ввода */
}

th, td {
    word-wrap: break-word; /* Позволяет переносу текста на новую строку */
    white-space: normal; /* Разрешает перенос текста */
}

.scroll-container {
    width: 100%;
    /* Или задайте фиксированную ширину */
    overflow-x: auto;
    /* Горизонтальная прокрутка */
    white-space: nowrap;
    /* Предотвращает перенос текста на новую строку */
}

.container-fluid {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.container-fluid-neverov {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px; /* Например, отступ в 20px */
}

.scroll-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.scroll-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scroll-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #4F83CC;
}