<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Устанавливаем кодировку страницы для правильного отображения символов -->
    <meta charset="UTF-8">
    <!-- Настройка масштабирования для адаптивного дизайна на мобильных устройствах -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Заголовок страницы -->
    <title>Редактирование записи</title>
    <!-- Подключаем стили для Bootstrap из статической папки -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Подключаем пользовательский стиль из статической папки -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Контейнер для основного контента страницы -->
    <div class="container">
        <!-- Заголовок страницы -->
        <h1 class="mt-5">Редактирование записи</h1>

        <!-- Блок для отображения флэш-сообщений -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <!-- Если есть флэш-сообщения, показываем их в виде всплывающего уведомления -->
        <div class="alert alert-success mt-3">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Форма для редактирования услуги -->
        <form method="POST" action="{{ url_for('update', id=service.id) }}" class="form-group-neverov">
            <!-- Поле для ввода названия услуги -->
            <div class="form-group">
                <label for="name">ФИО заявителя</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ service.name }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="snils">СНИЛС (только числа)</label>
                <input type="text" class="form-control" id="snils" name="snils" value="{{ service.snils }}" pattern="\d{11}" maxlength="11" required>
                <!-- Атрибут step позволяет вводить значения с двумя знаками после запятой -->
                <!-- Атрибут min задает минимальное значение, а max — максимальное значение -->
            </div>
            <div class="form-group">
                <label for="location">Район</label>
                <input type="text" class="form-control" id="location" name="location" value="{{ service.location }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="address_p">Населённый пункт</label>
                <input type="text" class="form-control" id="address_p" name="address_p" value="{{ service.address_p }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="address">Адрес</label>
                <input type="text" class="form-control" id="address" name="address" value="{{ service.address }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="benefit">Льгота</label>
                <input type="text" class="form-control" id="benefit" name="benefit" value="{{ service.benefit }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="number">Серия и номер</label>
                <input type="text" class="form-control" id="number" name="number" value="{{ service.number }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="year">Дата выдачи сертификата</label>
                <input type="date" class="form-control" id="year" name="year" value="{{ service.year }}" required>
                <!-- Тип поля date автоматически предоставляет календарный вид для выбора даты -->
            </div>
            <div class="form-group">
                <label for="cost">Размер выплаты</label>
                <input type="number" step="0.01" class="form-control" id="cost" name="cost" value="{{ service.cost }}" min="0" max="999999.99" required>
                <!-- Атрибут step позволяет вводить значения с двумя знаками после запятой -->
                <!-- Атрибут min задает минимальное значение, а max — максимальное значение -->
            </div>
            <div class="form-group">
                <label for="certificate">Сертификат</label>
                <input type="text" class="form-control" id="certificate" name="certificate" value="{{ service.certificate }}" pattern="\d{2}" maxlength="2" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="date_number_get">Дата и номер решения о выдаче</label>
                <input type="date" class="form-control" id="date_number_get" name="date_number_get" value="{{ service.date_number_get }}" required>
                <!-- Тип поля date автоматически предоставляет календарный вид для выбора даты -->
            </div>
            <div class="form-group">
                <label for="date_number_cancellation">Дата и № решения об аннулировании</label>
                <input type="date" class="form-control" id="date_number_cancellation" name="date_number_cancellation" value="{{ service.date_number_cancellation }}" required>
                <!-- Тип поля date автоматически предоставляет календарный вид для выбора даты -->
            </div>
            <div class="form-group">
                <label for="date_number_no">Дата и № решения об отказе в выдаче</label>
                <input type="text" class="form-control" id="date_number_no" name="date_number_no" value="{{ service.date_number_no }}" maxlength="30" required>
                <!-- Тип поля date автоматически предоставляет календарный вид для выбора даты -->
            </div>
            <div class="form-group">
                <label for="certificate_no">Отказ в выдаче</label>
                <input type="text" class="form-control" id="certificate_no" name="certificate_no" value="{{ service.certificate_no }}" pattern="\d{2}" maxlength="2 required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="reason">Причина отказа</label>
                <input type="text" class="form-control" id="reason" name="reason" value="{{ service.track }}" pattern="\d{2}" maxlength="2" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="track">ТРЕК</label>
                <input type="text" class="form-control" id="track" name="track" value="{{ service.track }}" maxlength="30" required>
                <!-- Ограничение на 20 символов для имени услуги -->
            </div>
            <div class="form-group">
                <label for="date_post">Дата отправки почтой</label>
                <input type="date" class="form-control" id="date_post" name="date_post" value="{{ service.date_post }}" required>
                <!-- Тип поля date автоматически предоставляет календарный вид для выбора даты -->
            </div>
            <br>
            <!-- Кнопка для отправки формы -->
            <button type="submit" class="btn btn-primary">Внести изменения</button>
            <br>
            <!-- Ссылка для возврата на главную страницу -->
            <a href="{{ url_for('index') }}" class="btn btn-primary mt-3">Вернуться назад</a>
        </form>
    </div>

    <!-- Подключаем jQuery из статической папки -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <!-- Подключаем JavaScript для Bootstrap из статической папки -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>
